<style>
    crs-timeline {
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
    }

    canvas {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }

    canvas:focus {
        border: none;
    }

    crs-timeline #loader {
        background: white;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>
<canvas ref="canvas" is="canvas-2d" data-camera="custom_pan,1,1"></canvas>
