<style>
    timeline {
        --timeline-bg: "#ff0000";

        display: block;
        width: 100%;
        height: 100%;
    }

    canvas {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 95%;
    }

    canvas:focus {
        border: none;
    }
</style>


<!--<button click.call="setScale('day')">Day</button>-->
<!--<button click.call="setScale('week')">Week</button>-->
<!--<button click.call="setScale('month')">Month</button>-->
<!--<button click.call="setScale('year')">Year</button>-->

<canvas ref="canvas" is="canvas-2d" data-camera="custom_pan,1,1"></canvas>
